<h1>Project#create</h1>
<p>Find me in app/views/project/create.html.erb</p>
<!-- <form class="" action="/" method="post">
  <div class="">
    <label for="">project title</label>
    <input type="text" name="project_title" placeholder='project_title'>
  </div>
  <div class="">
    <label for="">project description</label>
    <input type="text" name="project_description" placeholder='project_description'>
  </div>
  <div class="">
    <input type="submit" name="name" value="Create">

  </div>

</form> -->
